body{
    background-color: #1B3152;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    box-sizing: border-box;
}

h1{
    color: white;
    text-align: center;
    padding-top: 80px;
}

.input{
    width: 450px;
    height: 50px;
    margin: 5px;
    padding: 0px 20px;
    border-style: none;
    border-radius: 10px;
    background-color: white;
    font-size: 18px;
    margin: 20px;
}

.boton-agregar{
    width: 50px;
    height: 50px;
    margin: 5px;
    border-style: none;
    border-radius: 10px;
    background-color: rgb(255, 6, 46);
    color: white;
}
.boton-agregar:hover{
    opacity: 0.9;
    
}

.item-input{
    width: 400px;
    height: 50px;
    padding: 0;
    padding-left: 20px;
    padding-right: 20px;
    border: 1px solid white;
    border-radius: 10px;
    font-size: 18px;
    color: white;
    background: none;
}

.item{
    margin-bottom: 10px;
    
}

.boton-editar{
    margin: 0px 5px;
    border: none;
    background: none;
    color: #62d0ff;
    font-size: 1.4rem;
    font-family: Montserrat, sans-serif;
}

.boton-remover{
    height: 50px;
    width: 50px;
    margin: 0px 5px;
    border: none;
    border-radius: 10px;
    background-color: rgb(255, 6, 46);
    font-size: 20px;
}

footer{
    height: 140px;
    width: 100%;
    background-color: black;
    padding-top: 10px;
    position: absolute;
    bottom: 0;
}
.footer{
    /*display: flex;*/
    text-align: center;
    padding-top: 45px;
}

a{
  text-decoration: none;
}
.icon-mail {
  font-size: 2rem;
  transition: 0.6s;
  margin: 6px;
  color: blue;
  }
  .icon-mail:hover{
    font-size: 2.8rem;
    color: rgb(122, 0, 223);
  }

.icon-facebook2 {
  font-size: 2rem;
  transition: 0.6s;
  margin: 6px;
  color: blue;
}
.icon-facebook2:hover{
  font-size: 2.8rem;
  color:rgb(122, 0, 223);
}

.icon-instagram {
  font-size: 2rem;
  transition: 0.6s;
  margin: 6px;
  color: blue;
}
.icon-instagram:hover{
  font-size: 2.8rem;
  color: rgb(122, 0, 223);
}

.icon-twitter {
  font-size: 2rem;
  transition: 0.6s;
  margin: 6px;
  color: blue;
}
.icon-twitter:hover{
  font-size: 2.8rem;
  color: rgb(122, 0, 223);
}

.icon-github {
  font-size: 2rem;
  transition: 0.6s;
  margin: 6px;
  color: blue;
}
.icon-github:hover{
  font-size: 2.8rem;
  color: rgb(122, 0, 223);
}

.icon-linkedin {
  font-size: 2rem;
  transition: 0.6s;
  margin: 6px;
  color: blue;
}
.icon-linkedin:hover {
  font-size: 2.8rem;
  color: rgb(122, 0, 223);
}

.copyright{
  width: 100%;
  height: 8px;
  background-color: #1B3152;
  color: white;
  position: absolute;
  bottom: 0;
  margin: 0px;
  padding-bottom: 5px;
}
